body {
        max-width: 8.5in;
        margin: auto;
        padding: 0;
        /*border: medium solid black;*/
}

/* */
.wrapper {
        font-family: 'Belleza', sans-serif;
        margin-top: 2%;
        margin-left: 6%;
        margin-right: 6%;
}

/* Style & Sizing */
.word_underbar {
        margin-top: 0px;
        margin-bottom: .05em;
}

.top_margin {
        margin-top: 1em;
}

.italic {
        font-style: italic;
}

.bold {
        font-weight: bold;
}

.size_1 {
        font-size: .9em;
}

.size_2 {
        font-size: 2em;
}

/* Alignment */
.center {
        text-align: center;
}

.right {
        text-align: right;
}

.left {
        text-align: left;
}

.float_right {
        float: right;
}