@media (orientation: portrait) {
    #content1 {
        flex: 100%;
        font-size: 100%;
    }
}

@media (orientation: landscape) {
    #content1 {
        flex: 1;
        font-size: 100%;
    }
}

body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        background-color: #0E0B16;
        color: #ffffff;
        /*font-family: 'Space Mono', monospace;*/
        font-family: 'Montserrat', sans-serif;
}

.content {
        height: 100%;
        width: 100%;
}

h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 3em;
        margin: 0;
}

h2 {
        margin: .3em;
}

.gridwrapper {
        display: grid;
        margin-top: auto;
        margin-bottom: auto;
        align-content: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
}

.flex_parent_col {
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.flex_parent_row {
        display: flex;
        flex-direction: row;
        justify-content: center;
}

.max_height {
    height: 100vh;
}

.flex_1 {
    flex: 1;
   }

.flex_wrap {
    flex-wrap: wrap;
}

.social_button {
        position: absolute;
        margin: .5em;
        width: 2em;
        height: 2em;
        border: 0;
}

.crossfade {
        position: relative;
        z-index: 1;
        opacity: 1;
        transition: opacity .2s ease-in-out;
}

.crossfade:hover {
        opacity: 0;
}

.button {
        height: 1.3em;
        margin: .5em;
        background-color: #ffffff;
        /* #4717F6 */
        /*padding: 12px 28px;*/
        padding: .6em 1.3em;
        /*font-size: 16px; */
        font-size: 1em;
        /* color: white; */
        color: #0E0B16;
        text-align: center;
        text-decoration: none;
        /*display: inline-block;*/
        border-radius: .25em;
        transition-duration: 0.2s;
}

.button:hover{
        background-color: #4b227a;
        color: white;
}

.center_text {
        text-align: center;
}

.box {
        border: medium solid white;
}

.img_container {
        width: 100%;
}

/* Grid Handling Thirds*/

.col_1 {
        grid-column: 1 / 2;
}

.col_2 {
        grid-column: 2 / 3;
}

.col_3 {
        grid-column: 3 / 4;
}
