body {
        background-color: #0E0B16;
        color: #ffffff;
        font-family: 'Space Mono', monospace;
}

.gridwrapper {
        display: grid;
        height: 100vh;  
        margin-top: auto;
        margin-bottom: auto;
        display: grid;
        align-content: stretch;
        grid-template-columns: .33fr .33fr .33fr;
        grid-template-rows: 1fr;
}

.flex_parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.button {
        margin: 10px;
        background-color: #4717F6;
        padding: 12px 28px;
        font-size: 16px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 15px;
        transition-duration: 0.4s;
}

.button:hover{
        background-color: #A239CA;
        color: white;
}

.center_text {
        text-align: center;
}

.box {
        border: medium solid white;
}

/* Grid Handling Thirds*/

.col_1 {
        grid-column: 1 / 2;
}

.col_2 {
        grid-column: 2 / 3;
}

.col_3 {
        grid-column: 3 / 4;
}
